@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');


// reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
    @include media(1200) {
        font-size: 55%;
    }
}

